<div class="category-buttons">
  {{update-category category=model update="update" destroyCategory="destroyCategory"}}
  <button class="btn btn-xs btn-danger" {{action 'delete' model}}>Delete Category</button>
</div>
<br>
<div class="container-fluid">
  <h3>Below are listings for {{model.name}}:</h3>

  {{listing-tile listings=model.listings}}

  <br>

  {{new-listing saveListing="saveListing" category=model}}
</div>
